<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>10dats webpush</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
</head>
<body>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title">10darts SDK</h1>
          <div class="notification is-danger errors" style="display: none"></div>
          <h2 class="title is-4">App info</h2>
          <table class="table is-fullwidth">
            <tbody>
              <tr>
                <th>Device</th>
                <td id="deviceCode"></td>
              </tr>
              <tr>
                <th>Last Access</th>
                <td id="lastAccess"></td>
              </tr>
            </tbody>
          </table>
          <form id="formClientData">
            <div class="field">
              <label class="label">Client Data</label>
              <div class="control">
                <input class="input" type="text" id="clientData" required>
              </div>
            </div>
            <div class="control">
              <button type="submit" class="is-primary button">
                Update persona with client data
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <script>
    window.onload = function() {
      var Tendarts = window.Tendarts || {};
      Tendarts.init({
        token: '<%= process.env.TOKEN %>',
        publicKey: '<%= process.env.APPLICATION_KEY %>',
        autosubscribe: true,
        debug: true,
      });
      var state = Tendarts.getState();
      document.querySelector('#deviceCode').textContent = state.device;
      document.querySelector('#lastAccess').textContent = state.lastAccess;

      document.addEventListener('CREATE_DEVICE_EVENT', function() {
        document.querySelector('#deviceCode').textContent = state.device;
        document.querySelector('#lastAccess').textContent = state.lastAccess;
      }, false);

      document.querySelector('#formClientData').onsubmit = (event) => {
        event.preventDefault();
        Tendarts.linkDeviceClientData(document.querySelector('#clientData').value);
      }; 
    }
  </script>
</body>
</html>
